[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
marshmallow-jsonapi = "*"
marshmallow = "*"
psycopg2-binary = "*"
Flask-RESTful = "*"
Werkzeug = "*"
Flask-Bcrypt = "*"
flask-redis = "*"
Flask-Migrate = "*"
Flask-Script = "*"

[dev-packages]

[requires]
python_version = "3.8.10"
